<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include("./head") %>
    <title>エラー</title>
  </head>
  <body>
    <%- include("./header") %>
    <main>
      <div class="error">
        <h1>エラー</h1>
        <p><%= message %></p>
      </div>
    </main>
    <%- include("./footer") %>
  </body>
</html>
